<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.easy.v1"
>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/appicon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/appicon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admob_app_id"
            ></meta-data>
        <activity android:name=".MainActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TitleActivity" android:screenOrientation="portrait"
            android:theme="@style/SplashTitleTheme"/>
        <activity android:name=".TutorialActivity" android:screenOrientation="portrait"/>
        <activity android:name=".REGSurvey"
            android:label="" android:windowSoftInputMode="adjustPan" android:screenOrientation="portrait"/>
        <activity android:name=".REGSuccess"
            android:windowSoftInputMode="adjustPan" android:screenOrientation="portrait"/>
        <activity android:name=".AtoDPopupActivity" android:screenOrientation="portrait"/>
        <activity android:name=".DevInfo"/>
    </application>

</manifest>